*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-right: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
.header .container .logo h3{
    font-size: 23px;
    padding: 0 10px;
}
.header{
    background: #2C3E50;
    color: #fff;
    height: 100px;
    padding: 40px 0;
}
.header .logo{
    float: left;
}
.header .menu{
    float: right;
}
.header .menu ul li{
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
}
.clear{
    clear: both;
}
.section1{
    text-align: center;
    background: #1ABC9C;
    color: #fff;
    padding: 90px 0;
}
.section1 img{
    width: 20%;
}
.section1 h1{
    margin: 30px 0;
    font-size: 64px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1 p{
    font-size: 20px;
    margin-top:35px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio .portfolio-top{
    text-align: center;
    margin: 40px 0;
}
.portfolio .portfolio-items .portfolio-item{
    width: 33.333%;
    float: left;
    padding: 15px;
    border-radius: 10px;
    margin-top: 200px 0;
}
.portfolio .portfolio-items .portfolio-item img{
    width: 100%;
    border-radius: 10px;
}
.portfolio .container .portfolio-top h1{
    font-size: 48px;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
  
}
.clear{
    clear: both;
}
.section2{
    text-align: center;
    background: #1ABC9C;
    color: #fff;
    padding: 6rem 0;
    margin: 47% 0 48px 0;
}
.section2 .about h1{
    font-size: 54px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.section2 .about .paragraph p{
    font-size: 1.25rem;
    float: left;
    padding: 20px 70px;
    width: 50%;
    height: 250px;
   box-sizing: border-box;
   
}


.button a {
    color: #1abc9c;
    padding: 1.2rem 1.75rem;
    font-size: 1.25rem;
    border-color: #f8f9fa;
    color: #f8f9fa;
    text-decoration: none;
    border: none;
    border: 2px solid #fff;
    border-radius: 10px;
    

  }
 .button a:hover {
    background: #fff;
    color: #000;
    transition: 0.15s ease-in-out;
  }
  .clear{
    clear: both;
}
.contact{
    text-align: center;
    padding: 0 0 2px 0;
}
.contact{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.contact i{
    padding: 20px 0;
    font-size: 35px;
}
.clear{
    clear: both;
}
.form{
    display:flex;
    padding: 10px;
    margin:0 0 0 250px;
}
.form input{
outline: none;
 border: none;
 border-bottom: 1px solid;
 width: 70%;
 padding: 24px 48px 24px 0;
 height: 5.5rem;
 font-size: 20px;
 margin: 15px 50px;
}
.form textarea{
outline: none;
 border: none;
 border-bottom: 1px solid;
 padding: 5px 48px 24px 0;
 width: 70%;
 height: 5.5rem;
 font-size: 20px;
 margin: 50px 50px;
 font-family: Arial, Helvetica, sans-serif;
 
}
.send-button{
  font-size: 20px;
  margin: 10px 0 30px 320px;
  padding: 0 40px 50px 0;
    
}
.send-button button{
  text-decoration: none;
  border: 1px solid #fff;
  display: block;
  width: 100px;
  height: 70px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background: #6BD4BF;
  color: #fff;
  font-size: 20px;
 
}
.clear{
    clear: both;
}
.footer{
    width: 100%;
    height: 230px ;
    background: #2C3E50;
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   padding: 20px 50px;
   font-size: 25px;
}
.copyright{
    width: 100%;
    height: 60px;
    background: #1A252F;
    color: #fff;
    text-align: center;
    padding: 17px 0;
}
.footer .location{
    position:absolute;
    padding: 40px 10px;

}
.footer .around{
    position: absolute;
    left:41%;
    padding: 40px 10px;
   
    
}
.footer .freelancer{
    position: absolute;
    right: 10%;
    padding: 40px 10px;
}
.footer .location p{
    font-size: 18px;
}
.footer .freelancer p{
    font-size: 18px;
    position: absolute;
    right: 10%;
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
}
.footer h4{
    margin-bottom: 20px;
    padding: 0 20px;
}
.footer .freelancer a{
    color: #1EBC9C;
}
.social-media{  
    display: flex;
    padding: 0 10px;
    
}
.social-media a{
    padding: 0 15px;
    margin: 0 5px;
    border: 2px solid;
    border-radius: 100%;
    width: 3.25rem;
    height: 3.25rem;
    font-size:1.25rem;
    padding-top: 12px;
    color: #fff;
   
}
.social-media a:hover{
    background: #F8F9FA;
    color: #000;
    border: none;
}